/* Footer - Подвал сайта */
.footer{
    padding: 4rem 0;
    padding-bottom: 0;
    background-color: $grey;
    .row{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .order-1{
        @media(max-width: 767px){
            order: 1;
        }
    }
    .order-2{
        @media(max-width: 767px){
            order: 2;
        }
    }
    .order-3{
        @media(max-width: 767px){
            order: 3;
        }
    }
    .order-4{
        @media(max-width: 767px){
            order: 4;
        }
    }
    .order-5{
        @media(max-width: 767px){
            order: 5;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 4rem;
        }
    }
    &-logo{
        display: flex;
        flex-direction: column;
        &__cnt{

        }
        &__logo{
          @media(max-width: 767px){

          }

      }
      span{
        font-size: 1.4rem;
        font-weight: 300;
        color: #535353;


    }
    a{
        font-size: 1.4rem;
        font-weight: 300;
        color: #323232;
        padding: 1rem 0;
    }
}
&-menu{
    .title-menu{
        font-size: 1.5rem;
        font-weight: 700;
        color: #323232;
        padding: 1rem 0;
    }
    ul{
        margin: 0;
        padding: 0;
    }
    li{
        list-style: none;
        padding-bottom: 1.1rem;
        &:last-child{
            padding-bottom: 0;
        }
        a{
            font-size: 1.5rem;
            font-weight: 300;
            text-decoration: none;
            color: #535353;

        }
    }
}
&-menu-info{

}
.right_block{
    .row{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        @media(max-width: 991px){
            justify-content: flex-start;
        }
    }
}
&-contact-adr{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 300;
    color: #535353;
    line-height: 16px;
    @media (max-width: 420px){
        font-size: 1.4rem;
    }
    a{
       @media (max-width: 420px){
        font-size: 1.4rem;
    }
}
.title-contact{
    font-size: 1.5rem;
    font-weight: 700;
    color: #323232;
    padding: 1rem 0;
}
.adress{

}
.maps_link{
    padding: 1rem 0;
}
.sign_link{
    padding: 1rem 0;
}
}
&-contact{
    display: flex;
    flex-direction: column;
    width: auto;
    &__phone{
        a{
            font-size: 1.8rem;
            font-weight: 900;
            color: #e9142f;
            text-decoration: none;
            white-space: nowrap;
            @media (max-width: 420px){
                font-size: 1.4rem;
            }
            @media (max-width: 1199px){
                font-size: 1.8rem;
            }
        }
    }
    &__soc{
        font-size: 1.5rem;
        font-weight: 300;
        color: #323232;
    }
    &__callback{
        margin-top: 1rem;
        .but{
            display: inline-block;
            border: none;
            box-shadow: none;
            width: auto;
            line-height: 40px;
            height: 40px;
            color: white;
            font-size: 1.6rem;
            font-weight: 500;
            padding: 0 2rem;
            border-radius: 30px;
            background: linear-gradient(90deg, #e90026, #e88e65);
            text-decoration: none;
            white-space: nowrap;
            height: 50px;
            line-height: 50px;
            background-image: linear-gradient(to left,#e88e65,#e90026 50%, #e90026 50%,#e90026);
            background-position: 100% 0;
            background-size: 210% 105%;
            transition: all .25s ease-in;
            &:hover{
                background-position: 1% 0;
                color:#fff;
                border-color: transparent;
            }
            @media (max-width: 420px){
                font-size: 1.2rem;
                padding: 0 1.8rem;
            }
            @media (max-width: 1199px){
                font-size: 1.4rem;
            }
        }
    }
}
&__bot{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dcdcdc;
    margin-top: 5rem;
    .footer__copy{
        font-size: 1.4rem;
        font-weight: 300;
        color: 959595;
        padding: 3rem 0;
        width: auto;
        @media(max-width: 1199px){
            width: 80%;
        }
        @media(max-width: 576px){
            width: 100%;
            text-align: center;
        }
    }
}

&__dc-logo{
    width: 115px;
    @media(max-width: 576px){
        padding-bottom: 2rem;
        margin: 0 auto;
    }
    a{
        img{
            width: 115px;
        }
    }
}
}