/* Оформление формы */
.form-call{
    .form-group{
        margin: 0 0 20px;
        label{
            display: none;
        }
        input, textarea{
            width: 100%;
            height: 36px;
            border: none;
            border-bottom: 1px solid #cccccc;
            background: transparent;
            color: #323232;
            font-size: 16px;
            border-radius: 0;
            box-shadow: none;
            &::-webkit-input-placeholder{
                color: rgba(#323232, 0.7);
            }
            &::-moz-placeholder{
                color: rgba(#323232, 0.7);
            }
            &:-moz-placeholder{
                color: rgba(#323232, 0.7);
            }
            &:-ms-input-placeholder{
                color: rgba(#323232, 0.7);
            }
            &.error{
                color: #a94442;
                border-color: #a94442;
                &::-webkit-input-placeholder{
                    color: #a94442;
                }
                &::-moz-placeholder{
                    color: #a94442;
                }
                &:-moz-placeholder{
                    color: #a94442;
                }
                &:-ms-input-placeholder{
                    color: #a94442;
                }
            }
        }
        textarea{
            border-radius: 3px;
            max-width: 100%!important;
            min-width: 100%!important;
            min-height: 65px!important;
            max-height: 65px!important;
        }
        .help-block{
            // display: none;
            color: #a94442;
            margin: 5px 0 0px !important;
            font-size: 12px;
            // text-align: center;
        }
    }
    .terms_of_use{
        color: #a3a3a3;
        font-size: 14px;
        line-height: 1.2;
        padding: 15px 0px 0px;
        a{
            color: #727272;
            text-decoration: underline;
        }
    }
    .form-bot{
        .form-captcha{
            .help-block{
                color: #a94442;
                font-size: 12px;
                font-family: Arial;
            }
        }
        &.form-bot-inline{
            display: flex;
            align-items: center;
            width: 100%;
            margin: 20px 0px;
            .form-captcha{
                position: relative;
                width: 245px;
                height: 65px;
                .g-recaptcha{
                    position: absolute;
                    left: -30px;
                    top: -6px;
                    transform: scale(0.8);
                }
                .help-block{
                    position: absolute;
                    bottom: -20px;
                    text-align: center;
                }
            }
            .form-button{
                margin: 0;
                padding: 0px 0px 0px 20px;
            }
        }
    }
    .form-button{
        margin: 20px 0 0;
    }
    input[type="submit"], button{
        width: 100%;
        border: none;
        border-radius: 30px;
        height: 60px;
        line-height: 60px;
        padding: 0 50px;
        box-shadow: none;
        font-size: 1.6rem;
        font-weight: 500;
        color: $white;
        background: linear-gradient(90deg, #ea8f69, #e2c18b);
        &:hover, &:focus, &:active{
            outline: 0;
            box-shadow: none;
        }
    }
    &.form-review{
        .form-group{
            input, textarea{
                border: 1px solid #cccccc;
            }
        }
    }
}

@media (max-width: 1300px){
    .form-my{
        input[type="submit"], button{
            height: 52px;
            line-height: 52px;
            padding: 0 40px;
        }
    }
}

@media (max-width: 1100px){
    .form-my{
        input[type="submit"], button{
            height: 46px;
            line-height: 46px;
            padding: 0 30px;
        }
    }
}

@media (max-width: 640px){
    .form-my{
        .form-group{
            input, textarea{
                font-size: 14px;
            }
        }
        .form-bot{
            .form-captcha{
                position: relative;
                width: 100%;
                height: 75px;
                .g-recaptcha{
                    position: absolute;
                    left: -21px;
                    top: 0;
                    transform: scale(0.85);
                }
                .help-block{
                    position: absolute;
                    bottom: -20px;
                }
            }
            &.form-bot-inline{
                display: block;
                width: 100%;
                margin: 20px 0px;
                .form-captcha{
                    position: relative;
                    width: 100%;
                    height: 75px;
                    .g-recaptcha{
                        position: absolute;
                        left: -2px;
                        top: 0;
                        transform: scale(0.95);
                    }
                    .help-block{
                        position: absolute;
                        bottom: -20px;
                    }
                }
                .form-button{
                    margin: 0;
                    padding: 30px 0px 0px;
                }
            }
        }

        input[type="submit"], button{
            height: 42px;
            line-height: 42px;
            padding: 0 20px;
        }
    }
}

