/* Header */
.header{
    .top-header{
        background-color: $light-blue;
        padding: 1.2rem 0;
    }
    .container{
        &:before{
            display: none;
        }
        &:after{
            display: none;

        }
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        &:before{
            display: none;
        }
        &:after{
            display: none;
        }
        .col-md-5{
            @media (min-width: 992px){
                width: 46%;
            }
        }
    }
    .contacts{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .address{
            display: flex;
            flex-direction: column;
        }
        .email{
            display: flex;
            flex-direction: column;
            white-space: nowrap;
        }
    }

    .phone-order{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .left-block{
            display: flex;
            flex-direction: column;
            .phone{
                white-space: nowrap;
                font-size: 2rem;
                font-weight: 900;
                span{
                    color: $red;
                }
            }
        }
        .btn-phone-order{
            padding-left: 4rem;
            .btn{
                font-size: 1.6rem;
                font-weight: 500;
                color: $white;
                background-color: $red;
                background: linear-gradient(90deg, #e90026, #e88e65);
                border-radius: 25px;
                text-decoration: none;
                white-space: nowrap;
                padding: 0 2.5rem;
                height: 50px;
                line-height: 50px;
                background-image: linear-gradient(to left,#e88e65,#e90026 50%, #e90026 50%,#e90026);
                background-position: 99% 0;
                background-size: 250% 120%;
                transition: all .25s ease-in;
                &:hover{
                    background-position: 1% 0;
                    color:#fff;
                    border-color: transparent;
                }
            }
        }

    }
    .top-header{
        .col-md-5{
            @media (max-width: 1199px){
                display: none;
            }
        }
        .col-md-auto{
            @media (max-width: 379px){
                display: none;
            }
        }
        .phone-order{
            .left-block{
                @media (max-width: 644px){
                    display: none;
                }
            }
            .btn-phone-order{
                @media (max-width: 575px){
                    padding-left: 0;
                }

                .btn{
                    @media (max-width: 420px){
                        font-size: 1.2rem;
                        padding: 0 1.8rem;
                    }
                }

            }
        }
    }
    .top-menu{
        background-color: $dark-grey;
        box-shadow: 11px 0 27px rgba(0, 0, 0, 0.13);
        @media(max-width: 1199px){
            display: none;
        }
        .container-menu{
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-bottom: 0;
            li{
                position: relative;
                a{
                    display: inline-block;
                    font-size: 1.7rem;
                    font-weight: 500;
                    color: $white;
                    text-decoration: none;
                    text-transform: uppercase;
                    padding: 1.6rem 2rem;
                    &:before{
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        height: 17px;
                        width: 1px;
                        margin: auto;
                        background-color: $border;
                    }
                    &:hover{
                        background-color: $orange;
                        &:before{
                            transition: all 0.3s ease;
                            opacity: 0;
                        }
                    }
                }
            }
            li:last-child{
                a:before{
                    display: none;
                }
            }
        }
    }
}


/* Mobile menu - мбильное меню */
.menu-fix{
    display: none;
}

@media (max-width: 1199px){
    /* Меню */
    html.htmlmenu{
        overflow-y: scroll !important;
    }
    body.bodymenu{
        overflow: hidden!important;
    }
    .menu-fix{
        display: block;
        .menu-fix__icon-menu{
            display: block;
            &:hover{
                cursor: pointer;
            }
            @media (max-width: 379px){
                padding-right: 2rem;
            }
            .icon-bars{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 50px;
                .icon-bars__item{
                    width: 30px;
                    height: 3px;
                    background: rgba(233, 20, 47, 1);
                    margin: 0px auto 5px;
                    transition: all 0.3s linear;
                    border-radius: 8px;
                    &:last-child{
                        margin: 0 auto;
                    }
                }
            }
        }
        .menu-fix__icon-close{
            z-index: -100;
            right: -200px;
            opacity: 0;
            transition: all .3s ease 0.5s;
            &.active{
                display: block;
                position: fixed;
                top: 12px;
                right: 10px;
                width: 30px;
                height: 30px;
                cursor: pointer;
                opacity: 1;
                z-index: 1051;
                div {
                    position: relative;
                    width: 100%;
                    height: 2px;
                    background: rgba(0, 0, 0, 0.3);
                    transition: all .4s ease;
                    transform: rotate(135deg);
                    top: 14px;
                    &:before {
                        content: '';
                        position: absolute;
                        z-index: 1;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: rgba(0, 0, 0, 0.3);
                        transition: all .4s ease;
                        top: 0;
                        transform: rotate(90deg);
                    }
                }
                &:hover{
                    div{
                        background: #000;
                        transform: rotate(225deg);
                        &:before {
                            background: #000;
                        }
                    }
                }
            }
        }
        .menu-fix__box{
            position: fixed;
            z-index: 1050;
            top: 0;
            right: -300px;
            width: 300px;
            height: 100%;
            overflow: hidden;
            background: #fff;
            opacity: 0;
            pointer-events: none;
            transition: all .3s linear .3s;
            &.active{
                right: 0;
                opacity: 1;
                pointer-events: all;
                .menu-fix__box2{
                    opacity: 1;
                    z-index: 1051;
                }
                .menu-fix__bottom{
                    opacity: 1;
                    z-index: 1051;
                }
            }
            .menu-fix__box2{
                width: 100%;
                height: 100%;
                padding: 60px 30px;
                overflow: hidden;
                opacity: 0;
                z-index: -100;
                transition: all .5s ease 0.5s;
                .menu-fix__box3{
                    max-width: 100%;
                    max-height: 100%;
                    overflow-y: auto;
                    ul {
                        list-style: none;
                        padding: 0px;
                        margin: 0;
                        display: block;
                        max-height: 100%;
                        li{
                            padding: 10px 0px;
                            a{
                                position: relative;
                                text-decoration: none;
                                color: #323232;
                                font-size: 16px;
                                line-height: 1.2;
                                transition: all .3s linear;
                            }
                        }
                    }
                    &::-webkit-scrollbar-track
                    {
                        border-radius: 20px;
                        background-color: #fff;
                    }
                    &::-webkit-scrollbar
                    {
                        width: 7px;
                        background-color: #fff;
                    }
                    &::-webkit-scrollbar-thumb
                    {
                        border-radius: 10px;
                        background-color: #b9b9b9;
                    }
                }
            }
        }
        &.active{
            &:after{
                pointer-events: all;
                z-index: 1040;
                opacity: 1;
                background: rgba(0, 0, 0, 0.6);
            }
        }
        &:after{
            content: '';
            display: block;
            position: fixed;
            z-index: 1040;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            opacity: 0;
            background: rgba(0, 0, 0, 0);
            transition: all .3s linear .3s;
        }
    }
    .menu{
        display: none;
    }
}