html{
    font-size: 10px;
}

body{
    opacity: 1;
    font-family: 'Gilroy', san-serif;
    font-weight: 300;
    font-size: 1.6rem;
}

html, body{
    height: 100%;
}
.container{
    &::after, &::before{
        display: none;
    }
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.wrap1{
    flex: 1;
}
.wrap2{
    
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    &::after, &::before{
        display: none;
    }
}

a{
    font-size: 1.6rem;
    text-decoration: underline;
    color: $orange;
    transition: all 0.3s ease;
    &:hover{
        color: $red;
    }
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

h1{
    font-size: 3.9rem;
    font-weight: 700;
    color: #252525;
    margin-top: 0;
}