@import "vendor/bootstrap/_bootstrap";
@import "_color";
@import "_html";
@import "_header";

/* Первый экран */
.first-win{
	position: relative;
	.img-bg{
		height: 600px;
		img{
			max-width: 100%;
			height: 100%;
			overflow: hidden;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
		@media(max-width: 440px){
			height: 400px;
		}
	}
	.info{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 100%;
		margin-top: 9rem;
		.top-title{
			font-size: 4.7rem;
			font-weight: 700;
			color: $white;
			line-height: 40px;
			@media(max-width: 1600px){
				font-size: 3.5rem;
			}
			@media(max-width: 1366px){
				font-size: 2.8rem;
			}
			@media(max-width: 480px){
				font-size: 2rem;
				line-height: 30px;
			}
		}
		.title{
			font-size: 6.3rem;
			font-weight: 900;
			color: $white;
			text-transform: uppercase;
			line-height: 70px;
			@media(max-width: 1600px){
				font-size: 5rem;
				line-height: 55px;
			}
			@media(max-width: 1366px){
				font-size: 3.8rem;
				line-height: 45px;
			}
			@media(max-width: 576px){
				font-size: 3rem;
				line-height: 35px;
			}
			@media(max-width: 480px){
				font-size: 2.5rem;
				line-height: 30px;
			}
			span{
				position: relative;
				@media(max-width: 480px){
					font-size: 2.5rem;
					line-height: 30px;
				}
				&:before{
					content: '';
					display: block;
					position: absolute;
					width: 40px;
					height: 3px;
					background-color: $white;
					left: -60px;
					top: 0;
					bottom: 0;
					margin: auto;
					@media(max-width: 1278px){
						display: none;
					}
				}
				&:after{
					content: '';
					display: block;
					position: absolute;
					width: 40px;
					height: 3px;
					background-color: $white;
					right: -60px;
					top: 0;
					bottom: 0;
					margin: auto;
					@media(max-width: 1278px){
						display: none;
					}
				}
			}
		}
		.under-title{
			font-size: 5.7rem;
			font-weight: 700;
			color: $white;
			line-height: 50px;
			@media(max-width: 1600px){
				font-size: 4rem;
			}
			@media(max-width: 1366px){
				font-size: 3rem;
			}
			@media(max-width: 480px){
				font-size: 2rem;
			}
		}
		.text{
			font-size: 1.8rem;
			font-weight: 700;
			color: $white;
			padding: 3.5rem 0;
			@media(max-width: 1500px){
				padding: 2rem 0;
			}
		}
		.btn-container{
			display: flex;
			flex-wrap: wrap;
			@media(max-width: 576px){
				flex-direction: column;
			}
			.button{
				padding: 0 4.7rem;
				@media(max-width: 376px){
					font-size: 1.4rem;
					width: 200px;
					padding: 0 2rem;
				}
			}
			.btn-product{
				width: auto;
				.button{
					background: linear-gradient(90deg, #ea8f69, #e2c18b);
						background-image: linear-gradient(to left,#e2c18b,#ea8f69 50%, #ea8f69 50%,#ea8f69);
					background-position: 100% 0;
					background-size: 210% 105%;
					transition: all .25s ease-in;
					&:hover{
						background-position: 1% 0;
						color:#fff;
						border-color: transparent;
					}
				}
			}
			.btn-partner{
				@media(max-width: 576px){
					margin-left: 0;
					margin-top: 2rem;
				}
				.button{
					background-color: $white;
					color: $text;
					transition: all .25s ease-in;
					&:hover{
						color: #ea8f69;
						border-color: #ea8f69;
					}
				}
			}
		}
	}
	/* Navigation */
	.owl-dots{
		position: absolute;
		right: 280px;
		top: 20%;
		width: 20px;
		display: flex;
		flex-direction: column;
		align-items: end;
		@media(max-width: 1366px){
			right: 120px;
		}
		@media(max-width: 767px){
			display: none;
		}
		.slide-dots{
			position: relative;
			right:0;
			display: block;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: $white;
			margin-bottom: 3.5rem;
			transition: all 0.3s ease;
			border: none;
			padding: 0;
			margin-left: auto;
			&:hover{
				cursor: pointer;
				background-color: $yellow;
				&:before{
					content: '';
					position: absolute;
					width: 24px;
					height: 24px;
					top: 0;
					left: -8px;
					bottom: 0;
					margin: auto;
					border-radius: 50%;
					border: 1px solid $white;
					opacity: 0.3;

				}
			}
			&:focus{
				outline: none;
			}
		}
		.active{
			background-color: $yellow;
			&:before{
				content: '';
				position: absolute;
				width: 24px;
				height: 24px;
				top: 0;
				left: -8px;
				bottom: 0;
				margin: auto;
				border-radius: 50%;
				border: 1px solid $white;
				opacity: 0.3;
			}
		}
	}
}
/* Owl Carousel - Карусель - слайдеры - навигация */
.slide-nav{
	line-height: 1;
	@media(max-width: 1365px){
		display: none;
	}
	.owl-prev, .owl-next{
		position: absolute;
		top: 50%;
		width: 47px;
		height: 47px;
		background-color: #454545;
		border-radius: 50%;
		margin: auto;
		transition: all 0.3s ease;
		font-size: 3.5rem;
		color: $white;
		border: none;
		&:hover{
			background-color: $orange;
			transition: all 0.3s ease;
		}
		&:focus{
			outline: none;
		}
	}
	.owl-prev{
		top: 0;
		bottom: 0;
		left: -100px;
	}
	.owl-next{
		top: 0;
		bottom: 0;
		right: -100px;
	}
}


/* Button */
.btn-container{
	display: flex;
	flex-wrap: wrap;
	@media(max-width: 991px){
		justify-content: center;
	}
	@media(max-width: 376px){
		flex-direction: column;
		align-items: center;
	}
	.button{
		display: inline-block;
		font-size: 1.6rem;
		font-weight: 500;
		color: $white;
		background-color: $red;
		border-radius: 30px;
		text-decoration: none;
		white-space: nowrap;
		height: 60px;
		line-height: 60px;
		padding: 0 4.7rem;
		@media(max-width: 1199px){
			height: 50px;
			line-height: 50px;
			padding: 0 2rem;
		}
		@media(max-width: 376px){
			width: 180px;
			text-align: center;
		}
	}
	.btn-product{
		width: 40%;
		@media(max-width:991px){
			width: auto;
		}
		@media(max-width: 376px){
			width: auto;
		}
		.button{
			background: linear-gradient(90deg, #e90026, #e88e65);
			background-image: linear-gradient(to left,#e88e65,#e90026 50%, #e90026 50%,#e90026);
			background-position: 100% 0;
			background-size: 210% 105%;
			transition: all .25s ease-in;
			&:hover{
				background-position: 1% 0;
				color:#fff;
				border-color: transparent;
			}
		}
	}
	.btn-partner{
		width: 40%;
		margin-left: 4rem;
		@media(max-width:991px){
			margin-left: 2rem;
			width: auto;
		}
		@media(max-width: 376px){
			margin-left: 0;
			margin-top: 1rem;
			width: auto;
		}
		.button{
			background-color: #fff;
			transition: all .25s ease-in;
			border: 1px solid #adadad;
			color: $text;
			&:hover{
				color: #e90026;
				border-color: #e90026;
			}
		}
	}
}

/* Заголовки блоков */
.title{
	font-size: 3rem;
	font-weight: 300;
	line-height: 30px;
	@media(max-width: 576px){
		font-size: 2.5rem;
		line-height: 30px;
	}
	span{
		font-size: 40px;
		font-weight: 900;
		@media(max-width: 576px){
			font-size: 2.5rem;
			line-height: 30px;
		}
	}
}
.under-title{
	color: #727272;
	font-size: 1.6rem;
	font-weight: 300;
	padding: 0.5rem 0;
}

/* Product */
.products{
	position: relative;
	padding-bottom: 10rem;
	background: url('../img/bg-products.jpg') no-repeat center center;
	background-size: cover;
	background-color: #e9e9e9;
	@media(max-width: 991px){
		padding-bottom: 5rem;
	}
	&-bg-img1{
		position: absolute;
		left: 0;
		bottom: -30px;
		width: 91px;
		height: 473px;
		background: url('../img/image/kapusta_1.png') center no-repeat;
		z-index: 1;
		@media(max-width: 1320px){
			display: none;
		}
	}
	&-bg-img2{
		position: absolute;
		right: 0;
		bottom: -100px;
		width: 95px;
		height: 360px;
		background: url('../img/image/kapusta_2.png') center no-repeat;
		z-index: 1;
		@media(max-width: 1320px){
			display: none;
		}
	}
	.owl-carousel{
		.owl-item{
			.image{
				img{
					width: auto;
					max-width: 100%;
					display: inline-block;
				}
			}
		}
	}
	.products-slide{
		margin-top: -6rem;
	}
	.products-slide__item{
		position: relative;
		background-color: $white;
		border-radius: 15px;
		padding: 3rem;
		min-height: 500px;
		margin-bottom: 6rem;
		transition: all 0.3s ease;
		&:hover{
			box-shadow: 0 14px 20px rgba(137, 160, 175, 0.13);
		}


		.image{
			text-align: center;
			height: 200px;
			overflow: hidden;
		}
		.top-title{
			font-size: 1.4rem;
			font-weight: 300;
			padding-bottom: 2.5rem;
		}
		.title-link{
			a{
				font-size: 1.8rem;
				font-weight: 700;
				padding-top: 2rem;
				line-height: 22px;
				transition: all 0.3s ease;
				text-decoration: none;
				color: #333;
				&:hover{
					color: #ea8f69;
				}
			}
		}
		.packed{
			padding: 1rem 0px;
			font-size: 1.6rem;
			font-weight: 300;
		}
		.text{
			font-size: 1.4rem;
			font-weight: 300;
		}
		.read-products{
			position: relative;
			background: url('../img/oracle-products.png') center center no-repeat;
			width: 100%;
			height: 31px;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -30px;
			margin: 0 auto;
			z-index: 1;
			.read-button{
				position: absolute;
				display: inline-block;
				left: 0;
				right: 0;
				bottom: 10px;
				width: 42px;
				height: 42px;
				border-radius: 50%;
				border: 1px solid $grey;
				margin: auto;
				&:before{
					position: absolute;
					content: '';
					background: url('../img/arrow-product.png') center center no-repeat;
					top: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
					z-index: 1;
					width: 42px;
					height: 42px;
				}
				&:hover{
					border: 1px solid $orange;
					background-color: $orange;
					&:before{
						background: url('../img/arrow-product-hover.png') center center no-repeat;
					}
				}
			}

		}
	}

	/* Benefits */
	.benefits{
		margin-top: 4rem;
		.benefits__title{

		}
		.benefits__container{
			margin-top: 4rem;
			.row{
				display: flex;
				flex-wrap: wrap;
				align-items: center;
			}
		}
		.image{
			position: relative;
			z-index: 1;
			border-radius: 16px;
			@media(max-width: 991px){
				padding-bottom: 2rem;
				text-align: center;
			}
			img{
				position: relative;
				border-radius: 16px;
				z-index: 3
			}
			.bg_shadow{
				position: absolute;
				width: 302px;
				height: 200px;
				bottom: 0;
				left: 40px;
				box-shadow: 0 34px 36px rgba(0, 15, 71, 0.18);
				z-index: 2;
				@media(max-width: 1199px){
					width: 250px;
				}
				@media(max-width: 991px){
					display: none;
				}
			}
		}
		.info{
			svg{
				fill: #cb0004;
			}
			.row{
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				justify-content: flex-start;
			}
			.number{
				font-size: 4.5rem;
				font-weight: 900;
			}
			.text_number{
				font-size: 1.5rem;
				font-weight: 300;
				color: #727272;
				line-height: 18px;
			}
		}
		.text{
			font-size: 1.6rem;
			font-weight: 300;
			line-height: 24px;
			margin-top: 3rem;
			padding: 0 15px;
		}
		.benefits__icon{
			margin-top: 2.5rem;
			.row{
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				justify-content: flex-start;
			}
			.icon{

			}
			.text{
				padding: 0;
				font-size: 1.5rem;
				font-weight: 300;
				margin-top: 0.5rem;
			}
		}
		.btn-container{
			margin-top: 3rem;
			.btn-partner{
				.button{
				}
			}
		}
	}
}

/* Content block on Home Page */
.content-home-page{
	padding-top: 5rem;
	padding-bottom: 10rem;
	.home-page__title{
		margin-bottom: 4rem;
	}
	.row{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	.image{
		position: relative;
		border-radius: 15px;
		z-index: 1;
		@media(max-width: 991px){
			padding-bottom: 2rem;
			text-align: center;
		}
		img{
			position: relative;
			border-radius: 15px;
			z-index: 3;
		}
		.bg_shadow{
			position: absolute;
			width: 429px;
			height: 200px;
			bottom: 0;
			left: 40px;
			box-shadow: 0 34px 36px rgba(0, 15, 71, 0.18);
			z-index: 2;
			@media(max-width: 1199px){
				width: 350px;
			}
			@media(max-width: 991px){
				display: none;
			}
		}
	}
	.text{
		font-size: 1.6rem;
		font-weight: 300;
		line-height: 24px;
		padding-bottom: 3rem;
	}
	.btn-container{
		margin-top: 3rem;
		.btn-partner{
			.button{
			}
		}
	}
}

/* Bisness */
.bisness{
	position: relative;
	background-color: $grey;
	background-image: url('../img/bg-products.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 7rem;
	@media(max-width: 991px){
		padding-top: 0;
	}
	&-bg-img1{
		position: absolute;
		right: 0;
		top: -100px;
		width: 86px;
		height: 184px;
		background: url('../img/image/morkov_1.png') center no-repeat;
		z-index: 1;
		@media(max-width: 1320px){
			display: none;
		}
	}
	&-bg-img2{
		position: absolute;
		left: 0;
		bottom: 100px;
		width: 225px;
		height: 625px;
		background: url('../img/image/morkov_2.png') center no-repeat;
		z-index: 1;
		@media(max-width: 1320px){
			display: none;
		}
	}
	.bisness__col-left{
		width: 47%;
		@media (max-width: 991px){
			width: 70%;
		}
		@media (max-width: 768px){
			width: 100%;
		}
	}
	.bisness__col-right{
		width: 53%;
		@media (max-width: 991px){
			width: 30%;
		}
		@media (max-width: 768px){
			width: 100%;
		}
		.bisness-right{
			.row{
				@media (max-width: 768px){
					margin: 0 auto;
				}
			}
		}
	}
	.row{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	&__left{
		@media(max-width: 991px){
			padding-bottom: 4rem;
		}
		.text{
			font-size: 1.6rem;
			font-weight: 300;
			line-height: 24px;
			padding-bottom: 3rem;
			padding-top: 1.5rem;
		}
		.btn-container{
			align-items: center;
			.btn-product{
				width: 45%;
				@media(max-width:1199px){
					width: auto;
				}
				.button{
				}
			}
			.desc__btn-product{
				width: 55%;
				padding-left: 2.8rem;
				font-size: 1.4rem;
				font-weight: 300;
				@media(max-width:991px){
					width: 65%;
				}
				@media(max-width:576px){
					width: 50%;
				}
				@media(max-width:376px){
					margin-top: 1rem;
					width: 80%;
					text-align: center;
					padding-left: 0;
				}
			}
		}
	}
	&__right{
		.row{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			@media(max-width: 768px){
				justify-content: center;
			}
		}
		.col-md-auto{
			position: relative;
			z-index: 1;
			@media(max-width: 991px){
				display: none;
			}
			.bg_shadow{
				position: absolute;
				width: 236px;
				height: 200px;
				bottom: 0;
				left: 40px;
				box-shadow: 0 34px 36px rgba(0, 15, 71, 0.18);
				z-index: 2;
				@media(max-width: 1199px){
					width: 180px;
				}
				@media(max-width: 991px){
					display: none;
				}
			}
		}
		&-image{
			position: relative;
			z-index: 3;
		}
		.bisness__right-block{
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: center;
			width: 100%;
			@media(min-width: 991px){
				width: 37%;
			}
			@media(max-width: 1199px){
				width: 40%;
			}
			@media(max-width: 991px){
				width: auto;
			}
		}
		.block{
			position: relative;
			z-index: 1;
			width: 220px;
			height: 188px;
			margin-bottom: 3rem;
			border-radius: 15px;
			background-color: $white;

			&:hover{
				.bg_shadow{
					transition: all 0.6s ease;
					box-shadow: 0 34px 36px rgba(0, 15, 71, 0.3);
				}
				.block__title{
					transition: all 0.3s ease;
					color: #e90026;
				}
			}
			@media(max-width: 991px){
				margin: 0 1rem;
				margin-top: 1rem;
			}
			@media(max-width: 1199px){
				margin-top: 1rem;
				width: 190px;
				height: 182px;
			}
			&:last-child{
				margin-bottom: 0;
			}
			&__title{
				position: relative;
				font-size: 1.8rem;
				font-weight: 300;
				z-index: 4;
				padding: 2.5rem;
				line-height: 18px;
				span{
					font-size: 1.8rem;
					font-weight: 700;
				}
			}
			.image{
				position: absolute;
				bottom: 0;
				right: 0;
				z-index: 0;
				width: 100%;
				height: 160px;
				border-radius: 15px;
				overflow: hidden;
				z-index: 3;
			}
			.bg_shadow{
				position: absolute;
				width: 105px;
				height: 100px;
				bottom: 15px;
				left: 20px;
				box-shadow: 0 34px 36px rgba(0, 15, 71, 0.18);
				z-index: 2;
				@media(max-width: 1199px){
					width: 100px;
				}
				@media(max-width: 991px){
					display: none;
				}
			}
			.block__link{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				z-index: 5;
			}
		}
		&-image{
			position: relative;
			width: 370px;
			height: 408px;
			border-radius: 15px;
			background: url(../img/bisness-card.jpg) center center no-repeat;
			font-weight: 400;
			color: $white;
			text-align: center;
			@media(max-width: 1199px){
				width: 280px;
			}
			.text{
				position: absolute;
				display: block;
				height: 140px;
				width: 100%;
				top: 0;
				bottom: 0;
				left: -50px;
				z-index: 4;
				margin: auto;
				letter-spacing: 18px;
				line-height: 60px;
				font-size: 2rem;
				text-align: center;
				transform: rotate(-90deg);
				@media(max-width: 1199px){
					font-size: 1.8rem;
					letter-spacing: 10px;
				}
				span{
					font-size: 12.5rem;
					font-weight: 900;
					color: $white;
					letter-spacing: 0;
					@media(max-width: 1199px){
						font-size: 8rem;
					}
				}
			}
			&:after{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				width: 100%;
				height: 100%;
				background:transparent url('../img/bisness-card-layer.png') center center no-repeat;
			}
		}
	}

	/* Stock block on bisness*/
	.stock{
		padding-top: 6rem;
		&-slide{
			position: relative;
			margin-top: 3rem;
			&__image{
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				overflow: hidden;
				border-top-right-radius: 15px;
				border-bottom-right-radius: 15px;
				z-index: 1;
				@media(max-width: 576px){
					display: none;
				}
				img{


				}
			}
			&__undertitle{
				position: relative;
				font-size: 1.6rem;
				font-weight: 300;
				color: #727272;
				z-index: 2;
			}
			&__title{
				position: relative;
				font-size: 2.6rem;
				font-weight: 900;
				color: $red;
				padding-bottom: 2rem;
				z-index: 2;
			}
			&__text{
				position: relative;
				font-size: 1.6rem;
				font-weight: 300;
				padding-bottom: 2rem;
				max-width: 300px;
				width: 100%;
				z-index: 2;
			}
			&__link{
				position: relative;
				z-index: 2;
			}
		}
		.slide{
			position: relative;
			margin: 4rem 2rem;
			background-color: $white;
			padding: 3.8rem 4.3rem;
			border-radius: 15px;
			transition: all 0.3s ease;
			&:hover{
				box-shadow: 0 18px 25px rgba(163,163,190,0.26);
			}
		}

		/* Arrow prev and next */
		.stock__arrow{
			position: absolute;
			width: 47px;
			height: 47px;
			background-color: #454545;
			border-radius: 50%;
			margin: auto;
			transition: all 0.3s ease;
			&:hover{
				background-color: $orange;
				cursor: pointer;
			}
			&:before{
				position: absolute;
				width: 100%;
				height: 100%;
				line-height: 47px;
				text-align: center;
				font-size: 3rem;
				font-weight: 300;
				color: $white;

			}
		}
		.stock__arrow.prev{
			top: 0;
			bottom: 0;
			left: -100px;
			&:before{
				content: '<';
			}
		}
		.stock__arrow.next{
			top: 0;
			bottom: 0;
			right: -100px;
			&:before{
				content: '>';
			}
		}
	}
}
/* Communication - Свежие предложения и акции компании */
.communication{
	margin-top: 7rem;
	padding-top: 12rem;
	background:transparent url('../img/communication-image.png') right top no-repeat;
	padding-bottom: 12rem;
	@media (max-width: 1199px){
		background: none;
		padding-top: 0;
	}

	&-form{
		padding-top: 3.5rem;
		.row{
			@media(max-width: 767px){
				justify-content: center;
			}
		}

		.help-block.error{
			font-size: 1.2rem;
			color: #a94442;
		}

		.form-group{
			label{
				display: none;
			}
			input{
				width: 100%;
				height: 36px;
				border: none;
				border-bottom: 1px solid #ccc;
				background: transparent;
				color: #323232;
				font-size: 1.6rem;
				border-radius: 0;
				box-shadow: none;
			}
		}
		&__bottom{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			padding-top: 3.5rem;
			@media(max-width: 576px){
				flex-direction: column;
				padding-top: 2rem;
			}
			.btn-order{
				.button{
					display: inline-block;
					border: none;
					box-shadow: none;
					vertical-align: top;
					width: auto;
					height: 60px;
					color: $white;
					font-size: 1.6rem;
					font-weight: 500;
					padding: 0 3rem;
					border-radius: 30px;
					background-color: $red;
					white-space: nowrap;
					background: linear-gradient(90deg, #e90026, #e88e65);
					background-image: linear-gradient(to left,#e88e65,#e90026 50%, #e90026 50%,#e90026);
					background-position: 100% 0;
					background-size: 210% 105%;
					transition: all .25s ease-in;
					&:hover{
						background-position: 1% 0;
						color:#fff;
						border-color: transparent;
					}
					@media(max-width: 576px){
						font-size: 1.4rem;
					}
				}
			}
			.terms__btn-order{
				width: 60%;
				font-size: 1.4rem;
				color: #a3a3a3;
				padding-left: 1.5rem;
				@media(max-width: 576px){
					text-align: center;
					padding-top: 1rem;
					padding-left: 0;
				}
				a{
					font-size: 1.4rem;
					font-weight: 300;
					color: #727272;
				}
			}
		}
	}
	&-text__text{
		padding-left: 7rem;
		@media(max-width: 1199px){
			display: none;
		}
		.text{
			font-size: 2rem;
			font-weight: 400;
			letter-spacing: 18px;
			color: white;
			line-height: 60px;
			span{
				font-size: 12.5rem;
				font-weight: 900;
				color: white;
				letter-spacing: 0;
			}
		}
	}
}

/* Sertificats */
.sertificats{
	padding-top: 5rem;
	padding-bottom: 5rem;
	&-title{
		padding-bottom: 3.8rem;
		.row{
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
			justify-content: space-between;
		}
		.under-title{
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	&__allbtn{
		@media(max-width:991px){
			margin-top: 2rem;
			width: 100%;
			text-align: center;
		}
		.all-sertificats{
			display: inline-block;
			font-size: 1.6rem;
			font-weight: 500;
			color: #505050;
			background-color: $white;
			border: 1px solid #adadad;
			border-radius: 30px;
			text-decoration: none;
			white-space: nowrap;
			padding: 0 2.5rem;
			height: 60px;
			line-height: 60px;
			width: auto;
			background-color: #fff;
			transition: all .25s ease-in;
			border: 1px solid #adadad;
			color: $text;
			&:hover{
				color: #e90026;
				border-color: #e90026;
			}
		}
	}
	&-slide{
		position: relative;
		&__item{
			.image{
				transition: all 0.3s ease;
				&:hover{
					box-shadow: 0 18px 25px rgba(163, 163, 190, 0.26);
				}
			}
			.text{
				font-size: 1.6rem;
				font-weight: 300;
				line-height: 24px;
				color: #727272;
				padding-top: 1rem;
				&:hover{
					color: #323232;
				}
			}
		}
	}
}

/*Текст внутряков */

.page_iner {
	margin-bottom: 30px;
	.text {
		h1 {
			margin-bottom: 20px;
		}
		p {
			text-align: justify;
			font-size: 17px;
			font-weight: 400;
			margin-bottom: 10px;
		}
	}
	.owl-carousel{
		.owl-item  {
			.slide{
			    position: relative;
			    margin: 4rem 2rem;
			    background-color: #fff;
			    padding: 3.8rem 4.3rem;
			    
			    transition: all 0.3s ease;

			}
			.stock-slide__image {
				border-radius: 15px;
				overflow: hidden;
			}
		}
	} 


}

/* Производство внутреняя страница */
.page_iner-production {
	font-size: 17px;
	color: #4F4F4F;
	font-weight: 500;
	h2 {
		margin-top: 0;
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 35px;
		color: #252525;
	}
	.page_iner-production-top {
		margin-bottom: 65px;
		.production-top-main {
			margin-bottom: 25px;
		}

		span {
			font-weight: 900;
		}
		ul {
			padding: 0;
			list-style-position: inside;
			margin-left: -15px;
		}
		.flex {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
	}

	.page_iner-production-technology {
		margin-bottom: 65px;
		img {
			margin-bottom: 10px;
		}
		p {
			margin-bottom: 30px;
		}
		.flex {
			display: flex;
			justify-content: center;
			flex-direction: column;
			img {
				margin: 0;
			}
			p {
				margin: 0;
			}
		}
	}

	.page_iner-production-stages {
		margin-bottom: 65px;
		font-size: 20px;
		font-weight: 900;
		img {
			padding-bottom: 8px;
		}
	}

	.page_iner-production-packaging {
		margin-bottom: 65px;
		.production-packaging-text {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
		span {
			font-weight: 900;
			color: #4F4F4F;

		}
		div {
			margin-bottom: 40px;
		}

		p {
			font-size: 17px;
    		color: #4F4F4F;
    		font-weight: 500;
    		margin: 0;
		}


	}

	.page_iner-production-customers {
		p {
			font-weight: 500;
		}
		ul {
			padding: 0;
			list-style-position: inside;
		}
		span {
			font-weight: 900;
		}
	}

}

@media (max-width: 1200px) {
	.page_iner-production {
		.page_iner-production-stages {
    		font-size: 19px;
    	}
	}
}

@media (max-width: 992px) {
	.page_iner-production {
		.page_iner-production-top {
			img {
				margin-bottom: 15px;
			}
			.production-top-main {
				margin-bottom: 0px;
			}
		}

		.page_iner-production-stages {
			div {
				margin-bottom: 25px;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}
}


@media (max-width: 767px) {
	.page_iner-production {
		.page_iner-production-top {
			margin-bottom: 30px;
			ul {
				margin: 0;
			}

			.production-top-main {
    			margin-bottom: 0;
			}
			.flex {
				margin-bottom: 10px;
			}
		}

		.page_iner-production-technology {
			margin-bottom: 30px;
			img {
	    		margin-bottom: 5px;
	    		width: 100%;
			}
		}

		.page_iner-production-stages {
			margin-bottom: 30px;
		}

		.page_iner-production-packaging {
			margin-bottom: 30px;
		}
	}
}




@import "_footer";
@import "product/_product";
// @import "bootstrap/bootstrap";
@import "sertificats/_sertificats";
@import "contact/_contact";
@import "vendor/_lightbox.scss";
// @import "vendor/_jquery.fancybox.min.css";
@import "_modal";
@import "_form";