/* Хлебные крошки */
.breadcrumb{
	padding: 3.4rem 0;
	padding-bottom: 1rem;
	background-color: transparent;
	margin: 0;
	li{
		padding-right: 2rem;
		&::before{
			display: none;
		}
		a{
			font-size: 1.6rem;
			font-weight: 300;
			color: #727272;
		}
		span{

		}
	}
}

.single-products{
	/* Карточка товара */
	.productItem{
		padding-bottom: 5rem;
		&__title{
			h1{
				display: inline-block;
				font-size: 3.9rem;
				font-weight: 700;
				color: #252525;
			}
			span{
				font-size: 1.8rem;
				font-weight: 400;
				color: #505050;
				padding-left: 1rem;
			}
		}

		&-cnt{
			display: flex;
			flex-wrap: wrap;
			padding-top: 2.6rem;
			@media(max-width: 1199px){
				align-items: center;
			}
			@media(max-width: 991px){

			}
			&__image{
				width: 45%;
				@media(max-width: 991px){
					width: 100%;
				}
				.image{
					position: relative;
					width: 470px;
					height: 500px;
					background-color: #dedede;
					@media(max-width: 1199px){
						width: 400px;
						height: 450px;
					}
					@media(max-width: 991px){
						margin: 0 auto;
					}
					@media(max-width: 576px){
						width: 100%;
						height: 500px;
					}
					img{
						display: inline-block;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						margin: auto;
					}
				}
			}
			&__text{
				width: 55%;
				@media(max-width: 991px){
					width: 100%;
				}
				@media(max-width: 991px){
					margin-top: 2rem;
				}
			}
		}
		&-text{

			&__title{
				h2{
					margin-top: 0;
					font-size: 2.5rem;
					font-weight: 700;
				}
			}
			&__text{
				font-size: 1.6rem;
				font-weight: 300;
				line-height: 24px;
				padding-bottom: 1.4rem;
				p{
					margin: 0;
				}
			}
			&__spec{
				.spec-item{
					span{
						display: inline-block;
					}
					.name{

					}
					.desc{
						font-weight: 700;
						margin-top: 0.6rem;
					}
				}
			}
			&__sertificat{
				padding-top: 2rem;
				.sertificat-item{
					margin-bottom: 1.5rem;
					span{
						font-size: 1.6rem;
						display: inline-block;
					}
					.name{

						font-weight: bold;
					}
					a{
						display: inline-block;
						font-size: 1.6rem;
						font-weight: 500;
						color: #e91831;
					}
				}
			}
			&__btn{
				padding-top: 1rem;
				.btn-container{
					@media(max-width: 991px){
						justify-content: flex-start;
					}
				}
				.btn-product, .btn-partner{
					margin: 0;
					.button{
						width: 208px;
						height: 60px;
						text-align: center;
						padding: 0;
						line-height: 60px;
					}
				}
				.btn-product{
					width: auto;
					margin-right: 5rem;
					@media(max-width: 575px){
						margin-bottom: 1rem;
					}
					@media(max-width: 495px){
						margin-right: 0;
					}
				}
			}

		}
		&__desc{
			padding-top: 4rem;
		}
	}

	/* Все товары */
	.products{
		position: relative;
		padding-bottom: 7rem;
		background: url(../img/bg-products.png) no-repeat center center;
		background-color: #e9e9e9;
		padding-top: 3rem;
		margin-top: 2rem;
		&__title{
			padding-bottom: 2rem;
		}
	}
	.products__item{
		position: relative;
		background-color: $white;
		border-radius: 15px;
		padding: 3rem;
		min-height: 465px;
		margin-bottom: 6rem;
		transition: all 0.3s ease;
		&:hover{
			box-shadow: 0 14px 20px rgba(137, 160, 175, 0.13);
		}
		.image{
			text-align: center;
			height: 200px;
			overflow: hidden;
		}
		.top-title{
			font-size: 1.4rem;
			font-weight: 300;
			padding-bottom: 2.5rem;
		}
		.title-link{
			a{
				font-size: 1.8rem;
				font-weight: 700;
				padding-top: 2rem;
				line-height: 22px;
				transition: all 0.3s ease;
				text-decoration: none;
				color: #333;
				&:hover{
					color: #ea8f69;
				}
			}
		}
		.title{
			font-size: 1.8rem;
			font-weight: 700;
			padding-top: 2rem;
			line-height: 22px;
		}
		.packed{
			padding: 1rem 0px;
			font-size: 1.6rem;
			font-weight: 300;
		}
		.text{
			font-size: 1.4rem;
			font-weight: 300;
		}
		.read-products{
			position: relative;
			background: url('../img/oracle-products.png') center center no-repeat;
			width: 100%;
			height: 31px;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -30px;
			margin: 0 auto;
			z-index: 1;
			.read-button{
				position: absolute;
				display: inline-block;
				left: 0;
				right: 0;
				bottom: 10px;
				width: 42px;
				height: 42px;
				border-radius: 50%;
				border: 1px solid $grey;
				margin: auto;
				&:before{
					position: absolute;
					content: '';
					background: url('../img/arrow-product.png') center center no-repeat;
					top: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
					z-index: 1;
					width: 42px;
					height: 42px;
				}
				&:hover{
					border: 1px solid $orange;
					background-color: $orange;
					&:before{
						background: url('../img/arrow-product-hover.png') center center no-repeat;
					}
				}
			}
		}
	}

	.communication-wrap{
		position: relative;
		.bg-img1{
			position: absolute;
			right: 0;
			top: -70px;
			width: 95px;
			height: 360px;
			background: url('../img/image/kapusta_2.png') center no-repeat;
			z-index: 1;
			@media(max-width: 1320px){
				display: none;
			}
		}
		.bg-img2{
			position: absolute;
			left: 0;
			bottom: 150px;
			width: 225px;
			height: 625px;
			background: url('../img/image/morkov_2.png') center no-repeat;
			z-index: 1;
			&::before{
				content: '';
				position: absolute;
				top: 20px;
				left: 0;
				width: 91px;
				height: 473px;
				background: url('../img/image/kapusta_1.png') center no-repeat;
			}
			@media(max-width: 1320px){
				display: none;
			}
		}
	}
}


/* Слайдер преимуществ */

.advantages-slider {
	margin: 50px 0;
	position: relative;

	.advantages-slider-header {
		font-size: 30px;
		color: #333333;
		font-weight: 500;
		margin-bottom: 15px;

	}

	.advantages-item {
		display: flex;
	}

    .advantages-item-img {
    	width: 50%;
    }

	.advantage-item-description {
		position: relative;
		width: 50%;
		background-color: #F3F3F3;
		padding: 25px 15px 0 38px;
	}

	.item-description-count {
		font-size: 16px;
		margin-top: 5px;
		span {
			font-weight: 700;
		}
	}

	.item-description-header {
		font-size: 30px;
		font-weight: 400;
		margin-bottom: 10px;
	}

	.item-description-text {
		font-size: 18px;
	}

	.item-description-img {
		position: absolute;
		width: 40%;
		bottom: 0;
		right: 0;
	}

	.owl-carousel {
		.owl-nav {
			position: absolute;
			top: -45px;
			right: 0;
			button.owl-prev {
				margin-right: 17px;
			}

			button.owl-prev, button.owl-next {
				border: 1px solid #CDCDCD;
				border-radius: 25px;
				width: 35px;
				height: 35px;
				position: relative;
				&:active, &:focus {
	 			 		outline: none;
					}
					&::-moz-focus-inner {
  						border: 0;
					}
				span {
					position: absolute;
					font-size: 45px;
    				line-height: 0;
    				font-weight: 100;
    				top: 16px;
    				left: 9px;
    				color: #E7642E;
    				&:active, &:focus {
	 			 		outline: none;
					}
					&::-moz-focus-inner {
  						border: 0;
					}

				}

			}

		} 

	}
}


@media (max-width: 1200px) {
	.advantages-slider {
		.advantage-item-description {
			padding: 5px 15px 0 15px;
			br {
				display: none;
			}
		}

		.item-description-header {
			font-size: 25px;
    		font-weight: 400;
    		margin-bottom: 0;
			}

		.item-description-text {
			font-size: 17px;
		}	
		
		.item-description-img {
			display: none;
		}
	}
}


@media (max-width: 1000px) {
	.advantages-slider {

		.owl-carousel { 
			.owl-nav {
				top: unset;
    			bottom: -25px;
    			right: 110px;
    		}

    		 .owl-item img {
    			width: 70%;
    			margin: 0 auto;
			}
		}
		.advantages-item {
			flex-wrap: wrap;
		}
		
		.advantages-item-img {
    		width: 100%;
    	}

    	.advantage-item-description {
    		width: 70%;
    		height: 300px;
    		margin: 0 auto;
    	}
	}
}

@media (max-width: 768px) {
	.advantages-slider {
			margin: 25px 0;
		.advantage-item-description {
    		height: 250px;
    	}

    	.advantage-item-description {
    		height: 340px;
    	}
	}
}

@media (max-width: 640px) {
	.advantages-slider {
		
		.owl-carousel {
			.owl-nav {
		   	 	right: 0px;
			}
		}

		.owl-carousel {
			.owl-item {
				img {
    				width: 100%; 
    			} 
    		} 
    	}
		.advantages-slider-header {
    		font-size: 25px;
		}
		.item-description-header {
    		font-size: 20px; 
    	}
    	.item-description-text {
    		font-size: 14px;
		}

		.advantage-item-description {
			width: 100%;
    		height: 240px;
		}
	}
}

@media (max-width: 480px) {
	.advantages-slider { 
		.advantage-item-description {
    		height: 310px;
		}
	}
}

@media (max-width: 360px) {
	.advantages-slider { 
		.advantage-item-description {
    		height: 350px;
		}
	}
}