.contact-box{
    padding: 30px 0 0;
    .contact-box__info{
        float: left;
        width: 400px;
        h1{
            padding: 0 0 40px;
        }
        p{
            margin: 0 0 25px;
        }
    }
    .contact-box__map{
        float: right;
        width: calc(100% - 400px);
        iframe{
            width: 100% !important;
            height: 320px !important;
        }
    }
    &:after{
        content: '';
        clear: both;
        display: block;
    }
}

@media (max-width: 1100px){
    .contact-box{
        .contact-box__info{
            float: none;
            width: 100%;
        }
        .contact-box__map{
            float: none;
            width: 100%;
            iframe{
                height: 400px !important;
            }
        }
    }
}