/* Модальные окна - Modal window */
.modal-my{
    .modal-header{
        border: none;
        padding: 40px 40px 0px;
        .box-style__heading{
            &:before{
                display: none;
            }
        }
        .modal-close{
            position: absolute;
            top: 20px;
            right: 20px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            opacity: 1;
            z-index: 1051;
            -webkit-appearance: listbox;
            div {
                position: relative;
                width: 100%;
                height: 1px;
                background: rgba(17, 17, 17, 0.7);
                transition: all .4s ease;
                transform: rotate(135deg);
                top: 10px;
                &:before {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: rgba(17, 17, 17, 0.7);
                    transition: all .4s ease;
                    top: 0;
                    transform: rotate(90deg);
                }
            }
            &:hover{
                div{
                    background: rgba(17, 17, 17, 1);
                    transform: rotate(225deg);
                    &:before {
                        background: rgba(17, 17, 17, 1);
                    }
                }
            }
         }
        .close {
            color: #000;
            &:hover, &:focus, &:active{
                outline: 0;
            }
        }
        .modal-my-heading{
            position: relative;
            color: #323232;
            font-size: 25px;
            line-height: 1.2;
            padding: 15px 0;
            strong{
                font-size: 32px;
            }
        }
    }
    .modal-content{
        background: #fff;
    }
    .modal-body{
        padding: 10px 40px 40px;
    }
    .form-my{
        input[type="submit"], button{
            height: 50px;
            line-height: 50px;
            padding: 0 30px;
        }
    }
    .modal-success-message{
        color: #00b956;
        font-size: 18px;
        padding: 10px 40px 40px;
        .modal-success-message__result{
            color: #323232;
            span{
                color: #00b956;
            }
        }
        .hint-message{
            color: #323232;
            font-size: 16px;
            padding: 20px 0px 0;
            a{
                color: #00b956;
            }
        }
    }
    &.modal-my-xs{
        .modal-dialog {
            width: 385px;
            margin: 30px auto;
        }
    }
}

@media (max-width: 768px){
    .modal-my{
        .modal-header{
            .modal-my-heading{
                font-size: 22px;
                strong{
                    font-size: 30px;
                }
            }
        }
    }
}

@media (max-width: 640px){
    .modal-my{
        .modal-dialog {
            width: 300px;
            margin: 20px auto;
        }
        .modal-header{
            padding: 25px 20px 0px;
            .modal-my-heading{
                font-size: 18px;
                strong{
                    font-size: 26px;
                }
            }
        }
        .modal-body{
            padding: 10px 20px 20px;
        }
        .form-my{
            .form-bot{
                &.form-bot-inline{
                        .help-block{
                            position: absolute;
                            bottom: -20px;
                        }
                    }
                }
            }

            input[type="submit"], button{
                height: 42px;
                line-height: 42px;
                padding: 0 20px;
            }
        }
        .modal-my-xs{
            .modal-dialog {
                width: 300px;
                margin: 20px auto;
            }
        }
    }

@media (max-width: 480px){
    .modal-my{
        .modal-header{
            .modal-my-heading{
                font-size: 20px;
                strong{
                    font-size: 26px;
                }
            }
        }
    }
}