@import "vendor/bootstrap/_bootstrap";
@import "_color";
@import "_html";
@import "_header";

/* Первый экран */
.first-win{
	position: relative;
	.img-bg{
		height: 600px;
		img{
			max-width: 100%;
			height: 100%;
			overflow: hidden;
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
		}
		@media(max-width: 440px){
			height: 400px;
		}
	}
	.info{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 100%;
		margin-top: 9rem;
		.top-title{
			font-size: 4.7rem;
			font-weight: 700;
			color: $white;
			line-height: 40px;
			@media(max-width: 1600px){
				font-size: 3.5rem;
			}
			@media(max-width: 1366px){
				font-size: 2.8rem;
			}
			@media(max-width: 480px){
				font-size: 2rem;
				line-height: 30px;
			}
		}
		.title{
			font-size: 6.3rem;
			font-weight: 900;
			color: $white;
			text-transform: uppercase;
			line-height: 70px;
			@media(max-width: 1600px){
				font-size: 5rem;
				line-height: 55px;
			}
			@media(max-width: 1366px){
				font-size: 3.8rem;
				line-height: 45px;
			}
			@media(max-width: 576px){
				font-size: 3rem;
				line-height: 35px;
			}
			@media(max-width: 480px){
				font-size: 2.5rem;
				line-height: 30px;
			}
			span{
				position: relative;
				@media(max-width: 480px){
					font-size: 2.5rem;
					line-height: 30px;
				}
				&:before{
					content: '';
					display: block;
					position: absolute;
					width: 40px;
					height: 3px;
					background-color: $white;
					left: -60px;
					top: 0;
					bottom: 0;
					margin: auto;
					@media(max-width: 1278px){
						display: none;
					}
				}
				&:after{
					content: '';
					display: block;
					position: absolute;
					width: 40px;
					height: 3px;
					background-color: $white;
					right: -60px;
					top: 0;
					bottom: 0;
					margin: auto;
					@media(max-width: 1278px){
						display: none;
					}
				}
			}
		}
		.under-title{
			font-size: 5.7rem;
			font-weight: 700;
			color: $white;
			line-height: 50px;
			@media(max-width: 1600px){
				font-size: 4rem;
			}
			@media(max-width: 1366px){
				font-size: 3rem;
			}
			@media(max-width: 480px){
				font-size: 2rem;
			}
		}
		.text{
			font-size: 1.8rem;
			font-weight: 700;
			color: $white;
			padding: 3.5rem 0;
			@media(max-width: 1500px){
				padding: 2rem 0;
			}
		}
		.btn-container{
			display: flex;
			flex-wrap: wrap;
			@media(max-width: 576px){
				flex-direction: column;
			}
			.button{
				padding: 0 4.7rem;
				@media(max-width: 376px){
					font-size: 1.4rem;
					width: 200px;
					padding: 0 2rem;
				}
			}
			.btn-product{
				width: auto;
				.button{
					background: linear-gradient(90deg, #ea8f69, #e2c18b);
						background-image: linear-gradient(to left,#e2c18b,#ea8f69 50%, #ea8f69 50%,#ea8f69);
					background-position: 100% 0;
					background-size: 210% 105%;
					transition: all .25s ease-in;
					&:hover{
						background-position: 1% 0;
						color:#fff;
						border-color: transparent;
					}
				}
			}
			.btn-partner{
				@media(max-width: 576px){
					margin-left: 0;
					margin-top: 2rem;
				}
				.button{
					background-color: $white;
					color: $text;
					transition: all .25s ease-in;
					&:hover{
						color: #ea8f69;
						border-color: #ea8f69;
					}
				}
			}
		}
	}
	/* Navigation */
	.owl-dots{
		position: absolute;
		right: 280px;
		top: 20%;
		width: 20px;
		display: flex;
		flex-direction: column;
		align-items: end;
		@media(max-width: 1366px){
			right: 120px;
		}
		@media(max-width: 767px){
			display: none;
		}
		.slide-dots{
			position: relative;
			right:0;
			display: block;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: $white;
			margin-bottom: 3.5rem;
			transition: all 0.3s ease;
			border: none;
			padding: 0;
			margin-left: auto;
			&:hover{
				cursor: pointer;
				background-color: $yellow;
				&:before{
					content: '';
					position: absolute;
					width: 24px;
					height: 24px;
					top: 0;
					left: -8px;
					bottom: 0;
					margin: auto;
					border-radius: 50%;
					border: 1px solid $white;
					opacity: 0.3;

				}
			}
			&:focus{
				outline: none;
			}
		}
		.active{
			background-color: $yellow;
			&:before{
				content: '';
				position: absolute;
				width: 24px;
				height: 24px;
				top: 0;
				left: -8px;
				bottom: 0;
				margin: auto;
				border-radius: 50%;
				border: 1px solid $white;
				opacity: 0.3;
			}
		}
	}
}
/* Owl Carousel - Карусель - слайдеры - навигация */
.slide-nav{
	line-height: 1;
	@media(max-width: 1365px){
		display: none;
	}
	.owl-prev, .owl-next{
		position: absolute;
		top: 50%;
		width: 47px;
		height: 47px;
		background-color: #454545;
		border-radius: 50%;
		margin: auto;
		transition: all 0.3s ease;
		font-size: 3.5rem;
		color: $white;
		border: none;
		&:hover{
			background-color: $orange;
			transition: all 0.3s ease;
		}
		&:focus{
			outline: none;
		}
	}
	.owl-prev{
		top: 0;
		bottom: 0;
		left: -100px;
	}
	.owl-next{
		top: 0;
		bottom: 0;
		right: -100px;
	}
}


/* Button */
.btn-container{
	display: flex;
	flex-wrap: wrap;
	@media(max-width: 991px){
		justify-content: center;
	}
	@media(max-width: 376px){
		flex-direction: column;
		align-items: center;
	}
	.button{
		display: inline-block;
		font-size: 1.6rem;
		font-weight: 500;
		color: $white;
		background-color: $red;
		border-radius: 30px;
		text-decoration: none;
		white-space: nowrap;
		height: 60px;
		line-height: 60px;
		padding: 0 4.7rem;
		@media(max-width: 1199px){
			height: 50px;
			line-height: 50px;
			padding: 0 2rem;
		}
		@media(max-width: 376px){
			width: 180px;
			text-align: center;
		}
	}
	.btn-product{
		width: 40%;
		@media(max-width:991px){
			width: auto;
		}
		@media(max-width: 376px){
			width: auto;
		}
		.button{
			background: linear-gradient(90deg, #e90026, #e88e65);
			background-image: linear-gradient(to left,#e88e65,#e90026 50%, #e90026 50%,#e90026);
			background-position: 100% 0;
			background-size: 210% 105%;
			transition: all .25s ease-in;
			&:hover{
				background-position: 1% 0;
				color:#fff;
				border-color: transparent;
			}
		}
	}
	.btn-partner{
		width: 40%;
		margin-left: 4rem;
		@media(max-width:991px){
			margin-left: 2rem;
			width: auto;
		}
		@media(max-width: 376px){
			margin-left: 0;
			margin-top: 1rem;
			width: auto;
		}
		.button{
			background-color: #fff;
			transition: all .25s ease-in;
			border: 1px solid #adadad;
			color: $text;
			&:hover{
				color: #e90026;
				border-color: #e90026;
			}
		}
	}
}

/* Заголовки блоков */
.title{
	font-size: 3rem;
	font-weight: 300;
	line-height: 30px;
	@media(max-width: 576px){
		font-size: 2.5rem;
		line-height: 30px;
	}
	span{
		font-size: 40px;
		font-weight: 900;
		@media(max-width: 576px){
			font-size: 2.5rem;
			line-height: 30px;
		}
	}
}
.under-title{
	color: #727272;
	font-size: 1.6rem;
	font-weight: 300;
	padding: 0.5rem 0;
}



// @import "_footer";
// @import "product/_product";
// // @import "bootstrap/bootstrap";
// @import "sertificats/_sertificats";
// @import "contact/_contact";
// @import "_modal";
// @import "_form";